@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fondo: #f3f4f6;
    --primario: #ff5364;
    --primario-rgb: 255, 83, 100;
    --secundario: #35495e;
    --secundario-rgb: 53, 73, 94;
    --duration: 0.2s;
    --bounce: 0.1s;
    --ease: 0.1s;
    --sombra-boton: 0px 0px 5px rgba(var(--secundario-rgb), 0.3);
}

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: var(--secundario);
}

.welcome__texto p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.welcome__texto:first-of-type p {
    font-size: 25px;
}

#page-container {
    background-color: var(--fondo);
    position: relative;
    min-height: 100vh;
}

#page-container > .container {
    padding-top: 6rem;
    padding-bottom: 12rem;
}
a, a:hover{
    color: var(--primario);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Botones */
.btn-petfy, a .btn-petfy {
    background: var(--fondo);
    color: var(--secundario);
    cursor: pointer;
    border: 1px solid rgba(var(--secundario-rgb), 0.2);
    border-radius: 16px;
}
.btn-petfy-inverse {
    background: rgba(var(--primario-rgb), 0.7);
    color: var(--fondo);
    cursor: pointer;
    border-radius: 16px;
}
.btn-petfy-inverse:hover {
    background: var(--primario);
    box-shadow: var(--sombra-boton);
    color: var(--fondo);
}
.btn-petfy-secundario {
    background: var(--secundario);
    color: var(--fondo);
    cursor: pointer;
    border-radius: 16px;
}
.btn-petfy-secundario:hover {
    background: var(--primario);
    box-shadow: var(--sombra-boton);
    color: var(--fondo);
}
.btn-petfy-paginacion {
    background: var(--fondo);
    color: var(--secundario);
    cursor: pointer;
}
.btn-petfy-paginacion-active {
    background: var(--primario);
    color: var(--fondo);
    cursor: pointer;
}
.btn-petfy-paginacion:hover {
    color: var(--primario);
}
.btn-petfy:hover, a .btn-petfy:hover {
    background: rgba(var(--primario-rgb), 0.6);
    color: var(--secundario);
    box-shadow: var(--sombra-boton);
}
.btn-petfy-paginacion-active:hover, .btn-petfy:active {
    background: var(--primario);
    color: var(--fondo);
}
.welcome__texto .btn-petfy-inverse {
    padding: 8px 24px;
    font-weight: 600;
}
.dashboard__enlace:hover {
    text-decoration: none;
}
.dashboard__boton {
    padding: 24px 16px;
    width: 65%;
}
.dashboard__boton__texto {
    text-align: left;
    font-weight: 600;
}
.btn-dropdown {
    background: var(--fondo);
}

.btn-dropdown:focus {
    box-shadow: 0 0 0 .2rem rgba(var(--primario-rgb), 0.6);
}
/* Navbar */
nav {
    background: var(--fondo);
}
nav li a {
    color: var(--secundario) ;
    transition: 0.2s;
}
.menu-selected {
    color: var(--primario);
    text-shadow: -2px 1px 5px rgba(var(--primario-rgb), 0.6);
    font-weight: bold;
}
nav li a:hover {
    color: var(--primario);
    text-shadow: -2px 1px 5px rgba(var(--primario-rgb), 0.6);
    font-weight: bold;
}
nav li a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.navbar {
    padding: 1rem 3rem;
}
.logoText {
    font-weight: bold;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: var(--secundario);
    transition: 0.2s;
}
#logo:hover + .logoText, .logoText:hover {
    text-decoration: none;
    color: var(--secundario);
    text-shadow: -2px 1px 20px rgba(var(--primario-rgb), 0.7);
}

.navbar a {
    font-weight: 600;
}

#mapa {
    border-radius: 16px;
    min-height: 521px;
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: 800;
}

a:hover h1 {
    text-decoration: none;
}

.centrar {
    flex-grow: 1;
}

.btn-dark {
    background-color: #1f2937;
    border: 1px solid #dee2e6;
}

/***************************/
/* Copiar al portapapeles */
.copy-click {
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    cursor: pointer;
    color: var(--primario);
    transition: background-color calc(var(--duration) * 2) var(--ease);
}

.copy-click:hover {
    text-decoration: underline;
}

.copy-click:after {
    content: attr(data-tooltip-text);
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    padding: 8px 16px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 -12px rgba(0, 0, 0, 0);
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
    transition: box-shadow calc(var(--duration) / 1.5) var(--bounce), opacity calc(var(--duration) / 1.5) var(--bounce), -webkit-transform calc(var(--duration) / 1.5) var(--bounce);
    transition: box-shadow calc(var(--duration) / 1.5) var(--bounce), opacity calc(var(--duration) / 1.5) var(--bounce), transform calc(var(--duration) / 1.5) var(--bounce);
    transition: box-shadow calc(var(--duration) / 1.5) var(--bounce), opacity calc(var(--duration) / 1.5) var(--bounce), transform calc(var(--duration) / 1.5) var(--bounce), -webkit-transform calc(var(--duration) / 1.5) var(--bounce);
}

.copy-click.is-hovered:after {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition-timing-function: var(--ease);
}

.copy-click.is-copied {
    border-bottom: 1px dashed var(--primario);
}

.copy-click.is-copied:after {
    content: attr(data-tooltip-text-copied);
}
/* Cargando Modal */
svg path,
svg rect{
    fill: #ff5364;
}

/***************************/
/* Filtro */
.filtro {
    position: sticky;
    top: 175px;
    width: 100%;
}

/*Tarjeta Mascotas*/
.tarjeta-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 24px;
    display: block;
    margin: 8px 0px 16px;
    overflow: hidden;
    background: white;
}

.tarjeta-mascota:hover {
    text-decoration: none;
}

.tarjeta-mascota__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-right-radius: 24px;
    position: relative;
}

.tarjeta-mascota__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: white;
    opacity: 0.2;
    transition: opacity .3s;
}

.tarjeta-mascota:hover .tarjeta-mascota__overlay{
    opacity: 0;
}

.tarjeta-mascota__image img {
    width: 100%;
}

.tarjeta-mascota__text {
    padding: 8px 16px;
}

.tarjeta-mascota__text div:last-child {
    padding-bottom: 8px;
}

.tarjeta-mascota__text h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--secundario);
}

.tarjeta-mascota__badges {
    margin-bottom: 16px;
}

.tarjeta-mascota__badge {
    padding: 4px 16px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.tarjeta-mascota__badge p {
    margin: 0;
    padding: 0;
    color: var(--fondo);
}

.tarjeta-mascota__badge:first-child {
    margin-right: 8px;
}

.tarjeta-mascota__badge:last-child, .tarjeta-mascota__badge:last-child p {
    background: #FDF7E5;
    color: rgb(233, 166, 50);
}

.tarjeta-mascota__refugio {
    color: #0035d2;
}


/* FOOTER */

footer {
    background: var(--secundario);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13rem;            /* Footer height */
    padding-top: 1.5em;
    margin-top: 1.5em;
}
footer i {
    color: var(--primario);
}
footer li, footer h6, footer p, footer a {
    color: var(--fondo);
}

footer h6 {
    text-decoration: underline;
}

footer p, footer li {
    font-size: 11px;
}

.copyright {
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}
